name: Run API Tests

on:
  schedule:
    - cron: '0 * * * *' 
  push:
    branches: [ AddGithubActions ]
  workflow_dispatch:

jobs:
  api-tests:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: APITest.DummyJSON

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '24'

      - name: Install dependencies
        run: npm ci

      - name: Run CodeceptJS API tests
        run: npx codeceptjs run --steps --plugins allure
